body {
	margin:0px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}


h1 {
	font-weight:400;
	font-size: 2.5em;
	color:#00aeef;
	text-align: center;
}


h2 {
	font-weight: 200;
	font-size: 2em;

}

h3{
	font-size:1em;
	color:black;
	font-weight:400;
	text-align: center;
}


#top{
	background-image: url("img/background_top.png");
	height: 897px;
	margin: 0 auto;
}

#videologo {
	margin: 0 auto;
	width:980px;
}	

#medio{
	margin: 0 auto;
	width:980px;
	padding-bottom:40px;
}

#bottom{
	background-image: url("img/background_bottom.png");
	height: 390px;
}

.logo {
	padding-top: 30px;
	position:relative;
}

.video {
	margin-top: 30px;
	position:absolute;
}

.iphone {
	margin-top:-100px;
	margin-left: 550px;
	position:relative;

}

.descripcion{
	color:white;
	font-size: 1em;
	text-align: justify;
	float:left;
	width: 420px;
	margin-top:-235px;
}

.equipo {
	width: 200px;
	text-align: center;
	display:inline-block;
	margin-left:30px;

}

.margen {
		margin-left:50px;
	}

.boton {
	margin: 5px;
}

.perfil {
	width:200px;
	height:110px;
	text-align: center;
}

.tiendas {
	padding-top: 35px;
	width: 350px;
	margin: 0 auto;
}

.contacto {
	padding-top:50px;
	width: 800px;
	margin: auto;

}

.contenedor {
	background:white;
	border-radius: 20px;
	float:right;
	height: 80px;
	margin-top:40px;
	width: 600px;
}

.texto {
	display:inline-block;
	margin: 30px 0 0 70px;

}

.mailto {
	margin-top:12px;
	padding-right:50px;
	float:right;

}

.pata {
	font-size: 0.8em;
	text-align: center;
	color: #adadad;
	width: 980px;
	margin: 0 auto;
	padding-top:20px;

}
