// Place all the styles related to the quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require lightbox

.pic-gallery{
  height: 200px;
  overflow: scroll;
  white-space: nowrap;
  
  img{
    display: inline;
    height: 100%;
    margin-right: 10px;
  }
}
